In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Copy of Depression and Happiness Factor Analysis.csv')
data = data.drop(['Timestamp'], axis=1)
data.head()

,Which year are you in?,How are you feeling right now?,"On a scale of 1-100, how would you express this feeling?",Gender,Age,Your location ?,Relationship status,Are you happy with your financial state?,How much have you succeeded to cope up with the environment of your educational institution?,Understanding with your family members?,Are you feeling pressure in your study or work right now?,Are you satisfied with your academic result?,Are you happy with your living place?,Who supports you when you are not succeeding in your academic life?,Have you used any social media within the last 6 hours?,Do you have inferiority complex?,Are you satisfied with your meal today?,Are you feeling sick/health issues today?,"Have you done any recreational activity (sports, gaming, hobby etc.) today?",How long did you sleep last night?(in hours)
0,4th year,Normal,50,Male,23,Home,Single,Yes,4,Normal,No,Yes,No,Family,Yes,No,Yes,No,No,7
1,4th year,Normal,40,Male,23,Home,Single,Yes,4,Normal,Yes,Yes,No,Family,Yes,No,Yes,No,No,7
2,4th year,Bad,50,Male,23,Home,Single,Yes,4,Normal,Yes,Yes,No,Family,Yes,No,Yes,No,No,7
3,4th year,Normal,45,Male,23,Home,Single,Yes,4,Normal,No,Yes,No,Family,Yes,No,Yes,No,No,7
4,4th year,Normal,50,Male,23,Home,Single,Yes,4,Normal,Yes,Yes,Yes,Family,Yes,No,Yes,No,No,7

In [4]:
## delete record containing null value
data = data.dropna(axis=0)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 703 entries, 0 to 703
Data columns (total 20 columns):
Which year are you in?                                                                          703 non-null object
How are you feeling right now?                                                                  703 non-null object
On a scale of 1-100, how would you express this feeling?                                        703 non-null int64
Gender                                                                                          703 non-null object
Age                                                                                             703 non-null int64
Your location ?                                                                                 703 non-null object
Relationship status                                                                             703 non-null object
Are you happy with your financial state?                                                        703 non-null object
How much have you succeeded to cope up with the environment of your educational institution?    703 non-null int64
Understanding with your family members?                                                         703 non-null object
Are you feeling pressure in your study or work right now?                                       703 non-null object
Are you satisfied with your academic result?                                                    703 non-null object
Are you happy with your living place?                                                           703 non-null object
Who supports you when you are not succeeding in your academic life?                             703 non-null object
Have you used any social media within the last 6 hours?                                         703 non-null object
Do you have inferiority complex?                                                                703 non-null object
Are you satisfied with your meal today?                                                         703 non-null object
Are you feeling sick/health issues today?                                                       703 non-null object
Have you done any recreational activity (sports, gaming, hobby etc.) today?                     703 non-null object
How long did you sleep last night?(in hours)                                                    703 non-null int64
dtypes: int64(4), object(16)
memory usage: 115.3+ KB

In [8]:
data.columns

Index(['Which year are you in?', 'How are you feeling right now?',
       'On a scale of 1-100, how would you express this feeling?', 'Gender',
       'Age', 'Your location ?', 'Relationship status',
       'Are you happy with your financial state?',
       'How much have you succeeded to cope up with the environment of your educational institution?',
       'Understanding with your family members?',
       'Are you feeling pressure in your study or work right now?',
       'Are you satisfied with your academic result?',
       'Are you happy with your living place?',
       'Who supports you when you are not succeeding in your academic life?',
       'Have you used any social media within the last 6 hours?',
       'Do you have inferiority complex? ',
       'Are you satisfied with your meal today?',
       'Are you feeling sick/health issues today?',
       'Have you done any recreational activity (sports, gaming, hobby etc.) today?',
       'How long did you sleep last night?(in hours)'],
      dtype='object')

In [10]:
import numpy as np
transactions = data.to_numpy().tolist()

In [18]:
transactions
print(len(transactions))

703

In [26]:
## convert all values to object
for t in transactions:
    for i in range(len(t)):
        s = ''
        if type(t[i]) != str:
            s = str(t[i])
            t[i] = s

In [27]:
for t in transactions:
    for item in t:
        if type(item)!= str:
            print(item)

## Encoding

In [28]:
from mlxtend.preprocessing import TransactionEncoder
encoder = TransactionEncoder()
encoded_transactions = encoder.fit(transactions).transform(transactions)

In [29]:
print(encoded_transactions)

[[False False False ... False False  True]
 [False False False ... False False  True]
 [False False False ... False False  True]
 ...
 [False False False ... False  True  True]
 [False  True False ... False  True  True]
 [False False False ... False False  True]]

In [33]:
df = pd.DataFrame(encoded_transactions, columns=encoder.columns_) # create a dataframe

In [35]:
df.head()

,1,10,100,11,12,13,14,15,16,17,...,Male,Maybe,Neutral,No,Normal,Playground,Single,Very bad,Very good,Yes
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,False,True,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,False,True,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,False,True,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,False,True,False,False,True

In [36]:
df.shape

(703, 118)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Columns: 118 entries, 1 to Yes
dtypes: bool(118)
memory usage: 81.1 KB

## Get frequent items

In [45]:
from mlxtend.frequent_patterns import apriori
# Using Apriori algo to create frequent items
frequent_items = apriori(df, min_support=0.50, use_colnames=True)
print(frequent_items)

      support                                       itemsets
0    1.000000                                           (23)
1    1.000000                                     (4th year)
2    0.503556                                       (Family)
3    0.546230                                         (Good)
4    1.000000                                         (Male)
..        ...                                            ...
218  0.539118            (No, Yes, Single, Normal, 23, Male)
219  0.540541        (No, Good, Yes, Single, Male, 4th year)
220  0.539118      (No, Yes, Single, Normal, Male, 4th year)
221  0.540541    (No, Good, Yes, Single, 23, Male, 4th year)
222  0.539118  (No, Yes, Single, Normal, 23, Male, 4th year)

[223 rows x 2 columns]

## Association Rule Mining

In [50]:
from mlxtend.frequent_patterns import association_rules
# Association Rule Mining
result = association_rules(
frequent_items, metric='confidence', min_threshold=.60)

In [51]:
result

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(4th year),(23),1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,inf
1,(23),(4th year),1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,inf
2,(Family),(23),0.503556,1.000000,0.503556,1.000000,1.000000,0.00000,inf
3,(Good),(23),0.546230,1.000000,0.546230,1.000000,1.000000,0.00000,inf
4,(23),(Male),1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,inf
...,...,...,...,...,...,...,...,...,...
2138,"(Normal, Single)","(No, Yes, 23, Male, 4th year)",0.541963,0.992888,0.539118,0.994751,1.001876,0.00101,1.354908
2139,"(23, Normal)","(No, Yes, Single, Male, 4th year)",0.541963,0.992888,0.539118,0.994751,1.001876,0.00101,1.354908
2140,"(Normal, Male)","(No, Yes, Single, 23, 4th year)",0.541963,0.992888,0.539118,0.994751,1.001876,0.00101,1.354908
2141,"(4th year, Normal)","(No, Yes, Single, 23, Male)",0.541963,0.992888,0.539118,0.994751,1.001876,0.00101,1.354908
2142,(Normal),"(No, Yes, Single, 23, Male, 4th year)",0.541963,0.992888,0.539118,0.994751,1.001876,0.00101,1.354908

In [52]:
new_result = result.loc[:, ['antecedents',
'consequents', 'support', 'confidence']]
new_result

,antecedents,consequents,support,confidence
0,(4th year),(23),1.000000,1.000000
1,(23),(4th year),1.000000,1.000000
2,(Family),(23),0.503556,1.000000
3,(Good),(23),0.546230,1.000000
4,(23),(Male),1.000000,1.000000
...,...,...,...,...
2138,"(Normal, Single)","(No, Yes, 23, Male, 4th year)",0.539118,0.994751
2139,"(23, Normal)","(No, Yes, Single, Male, 4th year)",0.539118,0.994751
2140,"(Normal, Male)","(No, Yes, Single, 23, 4th year)",0.539118,0.994751
2141,"(4th year, Normal)","(No, Yes, Single, 23, Male)",0.539118,0.994751
2142,(Normal),"(No, Yes, Single, 23, Male, 4th year)",0.539118,0.994751